* {
    -webkit-box-sizing: border-box; /*few lines of code for compatibility and for correct box resizing*/
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgb(228, 227, 225);
}

.title {
    text-align: center;
    color: black;
}

.gameboard {
    width: 530px;
    height: 530px;
    background-color: #92bbce;
    box-shadow: 0 0 11px 5px #00BCD4;
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cardrows {
	width: 524px;
	height: 125px;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 6px;
	margin-bottom: 6px;
	background-color: transparent;
	position: relative;
}

.infobar {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.card, .cardback, .cardfront {
	width: 125px;
	height: 125px;
	position: absolute;
	display: block;
	backface-visibility: hidden;
}

.flip1, .flip2, .flip3, .flip4 {
	perspective: 800px;
	position: relative;
}

.flip1 {
	left: 3px;
}

.flip2 {
	left: 134px;
}

.flip3 {
	left: 265px;
}

.flip4 {
	left: 396px;
}

.card {
	width: 100%;
	height: 100%;
	transition: transform 1s;
	transform-style: preserve-3d;
}

.cardfront {
	background-color: #108DC0;
	
}

.card .cardfront {
	transform: rotateY( 180deg );
}

.card.flipped {
	transform: rotateY ( 180deg);
}



